<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Icebox | E-Commerce DH </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cd7ff4f5a7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
    <label for="button"> Registrate! <input type="button" id="button" > </label>
</head>

<body>
    <header class='main-header'>
        <div class='main-header-top'>
            <nav class='left-nav-bar'>
                <div class='menu-button'>
                    <a href='/menu'><i class="fas fa-bars"></i></a>
                </div>
            </nav>
            <nav class='center-nav-bar'>
                <img src='/images/logo2.svg' class='logo'>
            </nav>
            <nav class='right-nav-bar'>
                <div class='cart'>
                    <a href='/productCart'><i class="fas fa-shopping-bag "></i></a>
                </div>
                <div class='log-in'>
                    <a href='/login'><i class="fas fa-sign-out-alt"></i></a>
                </div>
            </nav>
        </div>
    </header>
    <section>
        <div class='main-header-bottom'>
            <p> ¡Envío gratis por compras mayores de 50 USD! </p>
        </div>
    </section>
    <main>
        <div class='product01'>
            <img src="/images/halo.jpg" alt="halo" class='images'>
            <p class='product-name'> Halo Infinite </p>
            <p class='product-description'> Halo Infinite es la nueva entrega de la saga de acción en primera persona de
                Microsoft y 343 Industries. Considerado un punto de inflexión en la serie,
                el título busca ahondar en las raíces de la entrega fundacional, Halo: Combat Evolved, presentando un
                apartado artístico clásico y una jugabilidad más tradicional.</p>
        </div>

        <img src="/images/books.jpeg" alt="books" class='images'>
        <img src="/images/ps5.jpg" alt="ps5" class='images'>
    </main>
    <footer>
        <div class='main-footer'>

        </div>

    </footer>



</body>

</html>