<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Diego Martinez, Facundo , Luna Gatica , Pablo Guzman" content="PROYECTO INTEGRADOR GRUPO 5 ICEBOX">
    <title>ICEBOX</title>
</head>
<body>
    <hr></hr>
    <section>
        <form action="/register" method="POST" enctype="multipart/form-data">
            <ul>
                <li><label for="email"> Direccion de email <input type="email" id="email" name="email"> </label> </li>
                <li><label for="contrasena"> Contraseña: <input type="password" id="contrasena" name="contrasena"></label> </li>
                <li><label for="ccontrasena"> Confirmar contraseña: <input type="password" id="ccontrasena" name="ccontrasena"></label> </li>
                <li><label for="username"> Nombre de usuario: <input type="username" id="username" name="NombreDeUsuario"></label> </li>
                <li><label for="name"> Nombres: <input type="name" id="name" name="Nombres"> </label> </li>
                <li><label for="name"> Apellido: <input type="name" id="name" name="Apellido"> </label> </li>
                <li><label for="date"> Fecha de nacimiento: <input type="date" id="date" name="date"></li></label> </li>
                <li><label for="adress"> Calle: <input type="address" id="adress" name="Calle"></label> </li>
                <li><label for="adress"> Numero: <input type="address" id="adress" name="address"> </label> </li>
                <li><label for="adress"> Codigo postal: <input type="address" id="adress" name="adress"> </label> </li>
                <li><label for="adress"> Ciudad: <input type="address" id="adress" name="address"> </label> </li>
                <li><label for="adress"> Provincia: <input type="address" id="adress" name="address"> </label> </li>
                <li><label for="adress"> Pais: <input type="address" id="adress" name="address"></label> </li>
                <li><label for="empresa"> Empresa: <input type="name" id="name"> </label></li>
                <hr></hr>
                <li><label for="newsletter"> 
                    Si por favor me gustaría recibir notificacione por email de noticias y promociones de ICEBOX: 
                    <input type = "checkbox" id="newsletter" name="newsletter" ></label></li>
                
    
            </ul>
            <label for="submit"></label>
            <input type="submit" name="envioFormulario">
            <label for="reset>"></label>
            <input type="reset" name="borradoFormulario">
    
        <form>
    </section>
    <hr></hr>
    

</body>
<footer>
    <div class='main-footer'>

    </div>

</footer>
</html>
